{% extends "base.html" %}

{% block title %}EmpreGO! - Sobre o EmpreGO!{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="alert alert-primary" role="alert">
        <p>
            <strong>EmpreGO!</strong> é um aplicativo inovador dedicado à divulgação de vagas de emprego, conectando candidatos e empresas de forma eficiente e acessível. 
            Com o objetivo de facilitar a busca por oportunidades e a seleção de talentos, o EmpreGO! foi projetado para atender às necessidades de usuários, 
            empresas e administradores de maneira integrada e prática.
        </p>
        <p>
            Com uma interface intuitiva e funcionalidades robustas, o EmpreGO! permite que candidatos busquem vagas, enviem currículos e acompanhem suas candidaturas. 
            As empresas têm à disposição ferramentas para gerenciar suas vagas e visualizar currículos, enquanto os administradores podem controlar o cadastro 
            e a gestão das empresas participantes.
        </p>
        <p>
            Nosso compromisso é criar um ambiente onde o mercado de trabalho possa se conectar de maneira mais dinâmica e inclusiva. 
            Seja você um candidato à procura da vaga dos sonhos, uma empresa em busca de novos talentos, ou um administrador que deseja organizar todo o sistema, 
            o EmpreGO! está aqui para simplificar esse processo.
        </p>
        <p>
            Explore o <strong>EmpreGO!</strong> e descubra como podemos transformar a forma como as pessoas e empresas se conectam no mercado de trabalho.
        </p>
      </div>
</div>
{% endblock %}